section#abilities{
    background-color: var(--global-black);
    color: var(--global-white);
}

section#abilities div.container{
    padding: 50px 0;
    max-width: 900px;
}

section#abilities div.box-grid{
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

section#abilities div.box-grid div.box{
    background-color: var(--global-white);
    border-radius: 20px;
    color: var(--global-black);
    padding: 6% 12%;
    box-shadow:#0004 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#abilities div.box-grid div.box-1{
    transform: translateX(3%);
}

section#abilities div.box-grid div.box-2{
    transform: translateX(-3%) translateY(30%);
}

section#abilities div.box-grid div.box-3{
    z-index: 1;
    position: relative;
    transform: translateX(11%) translateY(-11%);
}

section#abilities div.abilities-list{
    width: 100%;
    margin-top: 1em;
}

section#abilities div.abilities-list a.single-ability{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0.7em auto;
    transition: transform 0.2s ease-in-out;
}

section#abilities div.abilities-list a.single-ability:hover{
    cursor: pointer;
    transform: scale(102%);
}

section#abilities div.abilities-list a.single-ability img.ability-img{
    height: 70px;
    width: 70px;
    filter: drop-shadow(#0006 0 0 3px);
}

section#abilities div.abilities-list a.single-ability span.ability-name{
    color: green;
    text-align: end;
}

/* Responsive */

@media (max-width: 768px){
    section#abilities div.box-grid div{
        transform: none !important;
        margin-bottom: 20px;
    }

    section#abilities div.box-grid{
        display: block;
        padding: 50px 0 0;
    }

}
