
/***** Font *****/

@font-face {
    font-family: krona_one;
    src: url('../resources/fonts/Krona_One/KronaOne-Regular.ttf');
}

@font-face {
    font-family: kumbh_sans_medium;
    src: url('../resources/fonts/Kumbh_Sans/KumbhSans-Medium.ttf');
}

@font-face {
    font-family: kumbh_sans_semibold;
    src: url('../resources/fonts/Kumbh_Sans/KumbhSans-SemiBold.ttf');
}

@font-face {
    font-family: kumbh_sans_bold;
    src: url('../resources/fonts/Kumbh_Sans/KumbhSans-Bold.ttf');
}


/***** Colors *****/

body{
    --global-black : #000;
    --global-dark-gray : #1f1f1f;
    --global-light-gray : #e0e0e0;
    --global-almost-white : #efefef;
    --global-almost-white : #efefef;
    --global-white : #fff;
    --global-almost-white : #efefef;
    --global-light-tint : #84adff;
}

/***** Other *****/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: kumbh_sans_medium;
    font-size: 18px;
    color: var(--global-black);
}

section{
    position: initial;
    overflow: hidden;
}

.container{
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

h1{
    font-family: krona_one;
    text-align: center;
    font-size: 40px;
}

h2{
    font-family: krona_one;
    text-align: center;
    font-size: 30px;
}

h3{
    font-family: kumbh_sans_semibold;
    font-size: 25px;
}

p{
    margin: 0.5em 0;
}

a{
    text-decoration: none;
    color: unset;
}

@media (max-width: 768px) {
    .container{
        width: 90%;
    }
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 25px;
    }
}