section#photos{
    background-color: var(--global-white);
}

section#photos div.container{
    padding: 50px 0 0;
}

section#photos div.photos-list{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    aspect-ratio: 4/5;
}

section#photos span.photo{
    margin: 10px;
}

section#photos span.photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: #0004 0 0 20px, var(--global-light-tint) 0 0 0;
    transition: all 0.4s ease-in-out;
}

section#photos span.photo img:hover{
    transform: translateY(-10px);
    box-shadow: #0004 0 10px 20px, var(--global-light-tint) 0 10px 0;
    transition: all 0.4s ease-in-out;
}

section#photos span.little-square-1{
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}

section#photos span.little-square-2{
    grid-column: 4 / 5;
    grid-row: 1 / 1;
}

section#photos span.medium-square{
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}

section#photos span.large-vertical{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}

section#photos span.large-horizontal{
    grid-column: 1 / 5;
    grid-row: 4 / 6;
}

/* Responsive */

@media (max-width: 768px){
    section#photos div.photos-list{
        padding: 50px 0;
    }

    section#photos span.photo img{
        border-radius: 10px;
        box-shadow: #0004 0 0 10px;
    }
    
    section#photos span.photo{
        margin: 7px !important;
    }

}