section#presentation{
    background-color: var(--global-light-tint);
}

section#presentation div.container{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#presentation img{
    aspect-ratio: 1/1;
    background-color: aliceblue;
    width: 300px;
    border-radius: 20px;
    box-shadow: #0006 0 0 20px;
}

section#presentation div.text{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

section#presentation h2{
    text-align: left;
    margin-bottom: 0.5em;
}

/* Responsive */

@media (max-width: 768px){
    section#presentation div.container{
        display: flex;
        flex-direction: column-reverse;
    }

    section#presentation div.text{
        margin-bottom: 30px;
        margin-left: 0;
    }
}